.unipayment-checkout-scope {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

.unipayment-checkout-scope *,
.unipayment-checkout-scope *::before,
.unipayment-checkout-scope *::after {
    box-sizing: inherit;
}

.unipayment-checkout-scope .uni_title {
    background: #f5f5f5 !important;
    padding: 8px 15px 8px 15px !important;
    color: #d20210 !important;
    font-size: 14px !important;
}
.unipayment-checkout-scope .uni_table {
    width: 100% !important;
    font-size: 14px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.unipayment-checkout-scope .uni_row_title {
    font-size: 14px !important;
    width: 60% !important;
    padding: 2px !important;
    background: transparent !important;
}
.unipayment-checkout-scope .uni_row_input {
    width: 40% !important;
    padding: 2px !important;
    background: transparent !important;
}
.unipayment-checkout-scope .uni_input {
    font-size: 14px !important;
    width: 100% !important;
    border: 1px solid #696969 !important;
    padding: 0px !important;
    margin: 0px !important;
    max-height: 22px !important;
}
.unipayment-checkout-scope .passive {
    background: #f5f5f5 !important;
}
.unipayment-checkout-scope .uni_btn_pre {
    cursor: pointer !important;
    text-align: center !important;
    border: 1px solid #708090 !important;
    background: #d20210 !important;
    color: white;
    width: 100px !important;
}
.unipayment-checkout-scope .uni_hr {
    border-top: 0px solid white !important;
    border-right: 0px solid white !important;
    border-bottom: 1px solid #dcdcdc !important;
    border-left: 0px solid white !important;
}
.unipayment-checkout-scope .uni_text_cc {
    text-align: right !important;
    font-size: 11px !important;
}

.unipayment-checkout-scope .unipayment-checkout-terms-row {
    display: flex;
}

.unipayment-checkout-scope .unipayment-checkout-terms-link {
    color: #993300;
}
